.diregie {
  background: linear-gradient(to left, rgba(17, 24, 39, 0.4) 10%, rgba(17, 24, 39, 0.5) 25%, rgba(17, 24, 39, 0.7) 50%, rgba(17, 24, 39, 0.85) 75%, rgba(17, 24, 39, 1) 100%),
    url('../asset/images/diregie.jpg');
  background-position: center left;
}
.cain {
  background: linear-gradient(to left, rgba(17, 24, 39, 0.4) 10%, rgba(17, 24, 39, 0.5) 25%, rgba(17, 24, 39, 0.7) 50%, rgba(17, 24, 39, 0.85) 10%, rgba(17, 24, 39, 1) 100%),
    url('../asset/images/cain.jpg');
  background-position: right;
}
.siroco {
  background: linear-gradient(to left, rgba(17, 24, 39, 0.4) 10%, rgba(17, 24, 39, 0.5) 25%, rgba(17, 24, 39, 0.7) 50%, rgba(17, 24, 39, 0.85) 75%, rgba(17, 24, 39, 1) 100%),
    url('../asset/images/siroco.jpg');
  background-position: center right;
}
.prey {
  background: linear-gradient(to left, rgba(17, 24, 39, 0.4) 10%, rgba(17, 24, 39, 0.5) 25%, rgba(17, 24, 39, 0.7) 50%, rgba(17, 24, 39, 0.85) 75%, rgba(17, 24, 39, 1) 100%),
    url('../asset/images/prey.jpg');
  background-position: left;
}
.casillas {
  background: linear-gradient(to left, rgba(17, 24, 39, 0.4) 10%, rgba(17, 24, 39, 0.5) 25%, rgba(17, 24, 39, 0.7) 50%, rgba(17, 24, 39, 0.85) 75%, rgba(17, 24, 39, 1) 100%),
    url('../asset/images/casillas.jpg');
  background-position: right;
}
.hilder {
  background: linear-gradient(to left, rgba(17, 24, 39, 0.4) 10%, rgba(17, 24, 39, 0.5) 25%, rgba(17, 24, 39, 0.7) 50%, rgba(17, 24, 39, 0.85) 75%, rgba(17, 24, 39, 1) 100%),
    url('../asset/images/hilder.jpg');
  background-position: left;
}
.anton {
  background: linear-gradient(to left, rgba(17, 24, 39, 0.4) 10%, rgba(17, 24, 39, 0.5) 25%, rgba(17, 24, 39, 0.7) 50%, rgba(17, 24, 39, 0.85) 75%, rgba(17, 24, 39, 1) 100%),
    url('../asset/images/anton.jpg');
  background-position: right;
}
.bakal {
  background: linear-gradient(to left, rgba(17, 24, 39, 0.4) 10%, rgba(17, 24, 39, 0.5) 25%, rgba(17, 24, 39, 0.7) 50%, rgba(17, 24, 39, 0.85) 75%, rgba(17, 24, 39, 1) 100%),
    url('../asset/images/bakal.jpg');
  background-position: left;
}
